@import 'bootstrap/dist/css/bootstrap.css';
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

:root {
  --yellow-shade: #FFD60A;
  --darkyellow-shade: #FFC300;
  --blue-shade: #003566;
  --darkblue-shade: #001D3D;
  --black-shade: #000814;
} 

* {
  scroll-margin-top: 200px;
}

.bg-yellow {
  background-color: var(--yellow-shade);
}

.bg-darkyellow {
  background-color: var(--darkyellow-shade) !important;
}

.bg-blue {
  background-color: var(--blue-shade) !important;
}

.bg-darkblue {
  background-color: var(--darkblue-shade) !important;
}

.bg-black {
  background-color: var(--black-shade);
}

.container-div {
  border-radius: 25px;
  padding: 25px;
}

p {
  text-align: justify;
  color: var(--bs-light);
}

.form-control:not(active) {
  background-color: var(--darkblue-shade);
  color: var(--bs-light)
}

.nav-link-resume-button {
  border: 1px solid var(--bs-warning);
  border-radius: 5px;
}

.navbar-brand {
  font-family: 'Comfortaa', cursive;
  font-weight: 900;
  color: var(--bs-warning) !important;
}